[submodule "sw.extra"]
	path = sw.extra
	url = https://github.com/misazhu/ewokos.extra
[submodule "machine.3rd"]
	path = machine.3rd
	url = https://github.com/MisaZhu/ewokos.machines.git
[submodule "extra.apps"]
	path = extra.apps
	url = https://github.com/MisaZhu/ewokos.apps.git
[submodule "mariox"]
	path = mariox
	url = https://github.com/MisaZhu/evokes.mariox.git
