ewokos
ewokos.strip
.tmp_versions
.kernelrelease
.tmpconfig*
.config*
*.cmd
*.tmp
*.d
*.ihx
*.lnk
*.mem
*.map
*.usg
*.omf
*.cdb
*.lk
*.hex
*.tar.gz
cscope*
*.bak
*.swp
*.stackdump
*.log
*.wrn
*.err
*.opt
*.plg
*.ncb
*.lib
*.o
*.rel
obj
bin
patches
.pc
build
